.pinglun-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pinglun-top span:nth-child(2) {
  font-size: 0.52rem;
  color: #db1400;
}
.pinglun-top span:nth-child(3) {
  display: block;
  color: #db1400;
}
.pinglun-wrap {
  padding: 0.4rem 0.4rem;
}
.pinglun-wrap textarea {
  width: 100%;
  height: 80vh;
}
