.IndexMinSwiper .swiper-pagination-bullet-active {
  background-color: #d52315;
}
.IndexMinSwiper .swiper-container .swiper-wrapper {
  width: 10.8rem;
}
.IndexMinSwiper .swiper-container .swiper-slide {
  width: 4.1rem;
  height: 2.78rem;
  flex-shrink: 1;
  margin-right: 0.1rem;
}
.IndexMinSwiper .swiper-container .swiper-slide > img {
  display: block;
  width: 4.1rem;
  height: 2.78rem;
}
