.zhuanfa-wrap {
  position: relative;
}
.zhuanfa-wrap .zhuanfa {
  position: absolute;
  z-index: 999;
  bottom: 0.4rem;
  right: 0.4rem;
  display: flex;
  align-items: center;
}
.zhuanfa-right {
  display: flex;
  font-size: 0;
}
.zhuanfa-right div {
  margin-right: 0.1rem;
}
.zhuanfa-right div span:first-child {
  margin-right: 0.05rem;
}
.zhuanfa span:first-child {
  margin-right: 0.8rem;
}
.zhuanfa span {
  color: #f3f3f3;
}
.cards-text {
  font-size: 0.3rem;
}
.tabmain div a:last-child {
  margin-bottom: 1.4rem;
  display: block;
}
.day {
  font-size: 0.3rem;
  background-color: #dd4f43;
  width: 2.4rem;
  height: 0.6rem;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  right: -10px;
  top: 0.5rem;
  line-height: 0.6rem;
}
