.geren-top {
  width: 100%;
  height: 7.86rem;
  background-image: url('https://github.com/yangxuying/dj/blob/master/%E8%89%BA%E9%9B%86/%E5%8E%9F%E5%9E%8B/images/%E6%8E%A8%E8%8D%90/images/%E4%B8%AA%E4%BA%BA%E9%A1%B5-%E9%A6%96%E9%A1%B5_01.jpg?raw=true');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.geren-top img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
}
.geren-top .touxiang {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 0.6rem;
  align-items: center;
  margin-top: 1.8rem;
}

.touxiang-xinxi {
  display: flex;
  font-size: 0.4rem;
  color: #fff;
  width: 4.32rem;
  justify-content: space-between;
  margin-top: 0.54rem;
}
.touxiang-xinxi div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yixiang {
  padding: 0 0.18rem;
  margin-bottom: 0.3rem;
}
.yixiang .yixiang-bot {
  display: flex;
  font-size: 0.4rem;
  color: #a19e9e;
  justify-content: space-between;
  align-items: center;
}
.yixiang .yixiang-bot div {
  display: flex;
  flex-direction: column;
}
.yixiang .yixiang-bot div span:nth-child(2) {
  padding-left: 0.4rem;
}
.yixiang .yixiang-bot img {
  width: 3.34rem;
  height: 2.16rem;
}
.yixiang-top {
  display: flex;
  justify-content: space-between;
  padding: 0.48rem 0;
  position: relative;
}
.yixiang-top span:first-child {
  font-size: 0.46rem;
}
.yixiang-top span:nth-child(2) {
  font-size: 0.4rem;
  background-color: #dd4f43;
  width: 2.2rem;
  height: 0.6rem;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 10px 0 0 10px;
  position: absolute;
  right: -6px;
}
.yuanchuang {
  padding: 0.1rem 0;
}
.yuanchuang img {
  width: 48%;
  height: 4.5rem;
  padding: 0 0.1rem;
}
.geren-top .shezhi,
.geren-top .return {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000;
  position: absolute;
  opacity: 0;
  top: 0.8rem;
}
.shezhi {
  right: 0.5rem;
}
.geren-top .return {
  left: 0.5rem;
}
.geren-wrap {
  display: flex;
  transition: all 0.8s;
}
/* 个人设置 */
.gerentwo {
  position: fixed;
}
.gerenthree {
  position: relative;
}
.gerentwo,
.gerenthree {
  font-size: 0.2rem;
  background-color: #e0eaec;
  width: 100vw;
  z-index: 20;
}
.gerentwo ul,
.gerenthree ul {
  background-color: #f1f1f1;
}
.gerentwo li,
.gerenthree li {
  display: flex;
  padding: 0.5rem 0.66rem;
  border-bottom: 1px solid #bbb;
  justify-content: space-between;
}
.grtwo-return {
  width: 0.5rem;
  height: 0.7rem;
  background-color: #000;
  display: block;
  position: absolute;
  top: 0.8rem;
  left: 0.4rem;
  opacity: 0;
}
.ot-wrap {
  display: flex;
  position: relative;
}
.gerenthree {
  width: 100vw;
  position: absolute;
  transition: all 1s;
}
