body {
  margin: 0;
}
.indexwrap .swiper-container {
  width: 100vw;
  height: 100vh;
}
.indexwrap img {
  height: 100%;
}
img {
  width: 100%;
}
.lastimg {
  background-image: url('https://raw.githubusercontent.com/liu-sir666/1903/master/yij_images/u13.jpg');
  background-size: cover;
}
.login-top {
  padding: 0 1.04rem;
  margin-top: 6.7rem;
}
.login-top input {
  width: 100%;
  font-size: 0.38rem;
  text-align: center;
  padding: 0.3rem 0;
  background-color: none;
  border: none;
  background-color: #edeae1;
  border-bottom: 1px solid #4e4d4b;
}
.login {
  margin-top: 1.13rem;
  padding: 0 1.68rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
  color: #67645f;
  text-decoration: none;
}
.login a {
  text-decoration: none;
  color: #67645f;
}
.login-mid {
  margin-top: 4rem;
  text-align: center;
  color: #fff;
  margin-bottom: 0.8rem;
}
.login-mid .firstspan {
  color: #816c67;
  margin-left: 0.34rem;
}
.login-mid span {
  font-size: 0.34rem;
}
.login-bot {
  display: flex;
  border-top: 1px solid #fff;
  padding: 0.4rem 0;
}
.login-bot span {
  font-size: 0.48rem;
  color: #4d4d4d;
}
.login-bot .share {
  font-size: 0.7rem;
}
.login-bot > div {
  padding: 0 0.9rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
}
.login-bot > div:last-child {
  border: none;
}
